<h1 class='restaurant-show-title'>MY SHOP</h1>
<div class='container'>
  <div class=''>
    {{#if isValid}}
    <h3 class='p-3 border text-center'>感謝您的驗證，帳戶驗證完成，歡迎繼續購物</h3>
    {{else}}
    <h3 class='p-3 border text-center'>帳戶驗證失敗，請重新驗證</h3>
    {{/if}}
  </div>
</div>